<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hello SNS!</title>

  <link rel='stylesheet' href='/static/css/main.css' />
  <link rel='stylesheet' href='/static/css/bootstrap.min.css' />

  <script src="/static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
  <div class='grey-block'></div>
  <section class="container">
      <div id="admin-panel-header" class="header clearfix">
      <nav>
        <ul id="admin-panel-nav" class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Subscription Monitoring</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cluster Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Network Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Configuration</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Administration Panel</h3>
    </div>

    <div class="jumbotron">
      <h4 class="display-4">Announcing OpenShift Origin 3.6</h4>
      <p class="lead">Built around a core of Docker container packaging and Kubernetes container cluster management, Origin is augmented by application lifecycle management functionality and DevOps tooling. Origin 3.6 adds the Ansible Service Broker and provides a complete open source container application platform.</p>
      <p><a class="btn btn-lg btn-success" href="#" role="button">Download now</a></p>
    </div>

    <div class="row marketing">
      <div class="col-lg-6">
        <h4>Ansible Service Broker</h4>
        <p>Implementation of the open service broker API that enables users to leverage Ansible for provisioning and managing of services via the service catalog on OpenShift Container Platform.</p>

        <h4>Container Orchestration</h4>
        <p>Red Hat continues to influence the product in the areas of storage, networking, resource management, authentication and authorization, multi-tenancy, security, service deployments and templating, and controller functionality.</p>

        <h4>Compatibility</h4>
        <p>OpenShift Container Platform 3.6 is supported on RHEL 7.3 and newer with the latest packages from Extras, including Docker 1.12.</p>
      </div>

      <div class="col-lg-6">
        <h4>Ansible Playbook Bundles</h4>
        <p>When a user orders an application from the service catalog, the Ansible service broker will download the associated APB image from the registry and run it. Once the named operation has been performed on the service, the APB image will then terminate.</p>

        <h4>Init Containers</h4>
        <p>You run init containers in the same pod as your application container to create the environment your application requires or to satisfy any preconditions the application might have.</p>

        <h4>Multiple Schedulers</h4>
        <p>Kubernetes now supports extending the default scheduler implementation with custom schedulers.</p>
      </div>
    </div>

    <footer class="logo-footer">
      <div class="logo"><a href="https://www.openshift.com/"></a></div>
    </footer>
  </section>

</body>
</html>
