<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Stock Analysis</title>

  <link rel='stylesheet' href='../static/css/main.css' />
  <link rel='stylesheet' href='../static/css/bootstrap.min.css' />

  <script src="../static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
  <div class='grey-block'></div>
  <section class='container'>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          % if no_sns_creds:
          <div class="alert alert-danger">
            <strong>SNS bind credentials not found.</strong>
          </div>
          %   end
          % if no_s3_creds:
          <div class="alert alert-danger">
            <strong>S3 bind credentials not found.</strong>
          </div>
          %   end
          % if no_sqs_creds:
          <div class="alert alert-danger">
            <strong>SQS bind credentials not found.</strong>
          </div>
          %   end
          % if disable_controls:
          <div class="alert alert-danger">
            Job queueing has been disabled. Attach bind credentials.
          </div>
          %   end


          <div class="row" style="padding: 50px 0px 10px 0px">
            <div class="col-md-12">
              <h2 style="text-decoration: underline">Machine learning on public stocks</h2>
              <h5>Find relationships between publically traded companies using historical stock performance data</h5>
            </div>
          </div>

          <div class="row" style="margin: 10px 0px 25px 0px; padding: 20px; border-style: solid; border-radius: 5px; border-color: rgb(214, 214, 214)">
            <div class="col-md-12">
              <form role="form">
                <div class="form-group">

                  <label for="stockSetSelect">
                    Stock dataset
                  </label>
                  <select class="form-control" id="stockSetSelect">
                    <option disabled selected value> Select a list of stocks to analyze </option>
                    <option value="example-set">Scikit-learn stocks (01/01/2003 -- 01/01/2008)</option>
                    <option value="contrafund-set">Contrafund stocks (01/01/2017 -- 09/01/2017)</option>
                    <option value="mini-set">Mini-set stocks (01/01/2017 -- 09/01/2017)</option>
                  </select>
                </div>

                <div class="form-group">

                  <label for="stockSetPreview">
                    Preview
                  </label>
                  <textarea disabled class="form-control" id="stockSetPreview" style="height: 300px; font-family: monospace">Select a dataset from the list above...</textarea disabled>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">

                      <label for="analysisStartDate">
                        Analysis Start Date
                      </label>
                      <input type="date" class="form-control" id="analysisStartDate" />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">

                      <label for="analysisEndDate">
                        Analysis End Date
                      </label>
                      <input type="date" class="form-control" id="analysisEndDate" />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      % if disable_controls:
                      <button type="button" id="btnQueueNewJob" class="btn btn-primary" disabled>Add job to queue</button>
                      % else:
                      <button type="button" id="btnQueueNewJob" class="btn btn-primary">Add job to queue</button>
                      % end
                    </div>
                  </div>

                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <p id="queueLengthIndicator" style="margin-top: .5rem; font-size: 1.1rem; text-align: right">Loading worker node status...</p>
                    </div>
                  </div> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="logo-footer">
      <div class="logo"><a href="https://www.openshift.com/"></a></div>
    </footer>
  </section>

  <div id="snackbar">Alert!</div>

  <script language="javascript">
    function showSnackbarAlert(alertText) {
      var x = document.getElementById("snackbar")
      x.textContent = alertText
      x.className = "show"
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000)
    }

    $("#btnQueueNewJob").click(function() {
      startDateStr = $('#analysisStartDate')[0].value
      endDateStr = $('#analysisEndDate')[0].value
      datasetName = $('#stockSetSelect').val()
      queueJobData = { 'datesetName': datasetName, 'startDate': startDateStr, 'endDate': endDateStr }
      response = $.get("/queue_clustering_job", queueJobData, function() {
      });
      showSnackbarAlert("Added job to queue!")
    });

    $('#stockSetSelect').change(function () {
      optionSelected = $(this).find("option:selected");
      valueSelected  = optionSelected.val();
      textSelected   = optionSelected.text();
      response = $.get('/static/stocks/' + valueSelected + '.stocks', function() {
        $('#stockSetPreview').val(response.responseText)
      });
    });



    // % if not disable_controls:
    // setInterval(function(){
    //   response = $.get("/get_queue_length", function() {
    //     queueLength = response.responseJSON['queue_length']
    //     var x = document.getElementById("queueLengthIndicator")
    //     if (queueLength > 0) {
    //       x.textContent = ("Worker node is RUNNING")
    //     }
    //     else {
    //       x.textContent = ("Worker node is INACTIVE")
    //     }
    //     // var x = document.getElementById("queueLengthIndicator")
    //     // x.textContent = ("Jobs in queue: " + queueLength)
    //   });
    // }, 3000);
    // % end

  </script>

</body>
</html>
