<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Stock Analysis</title>

  <!-- <link rel='stylesheet' href='/static/css/main.css' /> -->
  <!-- <link rel='stylesheet' href='/static/css/bootstrap.min.css' /> -->
  <link rel='stylesheet' href='../static/css/main.css' />
  <link rel='stylesheet' href='../static/css/bootstrap.min.css' />

  <!-- <script src="/static/js/jquery-3.2.1.min.js"></script> -->
  <script src="../static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
  <div class='grey-block'></div>
  <section class='container'>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">

          <div class="row" style="padding: 50px 0px 10px 0px">
            <div class="col-md-12">
              <h2 style="text-decoration: underline">Machine learning with the stock market</h2>
              <h5>Find relationships between publically traded companies using historical stock performance data</h5>
            </div>
          </div>

          <div class="row" style="margin: 10px 0px 25px 0px; padding: 20px; border-style: solid; border-radius: 5px; border-color: rgb(214, 214, 214)">
            <div class="col-md-12">
              <form role="form">
                <div class="form-group">

                  <label for="stockSetSelect">
                    Stock dataset
                  </label>
                  <select class="form-control" id="stockSetSelect">
                    <option>Fortune 500 Stocks</option>
                    <option>Fidelity Contrafund Class K Stocks</option>
                  </select>
                </div>

                <div class="form-group">

                  <label for="stockSetPreview">
                    Stock dataset preview
                  </label>
                  <textarea disabled class="form-control" id="stockSetPreview">Select a dataset from the list above...</textarea disabled>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">

                      <label for="analysisStartDate">
                        Analysis Start Date
                      </label>
                      <input type="date" class="form-control" id="analysisStartDate" />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">

                      <label for="analysisEndDate">
                        Analysis End Date
                      </label>
                      <input type="date" class="form-control" id="analysisEndDate" />
                    </div>
                  </div>
                </div>

                <button type="button" id="btnQueueNewJob" class="btn btn-primary">
                  Add job to queue
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="logo-footer">
      <div class="logo"><a href="https://www.openshift.com/"></a></div>
    </footer>
  </section>

  <div id="snackbar">Alert!</div>

  <script language="javascript">
    function showSnackbarAlert(alertText) {
      var x = document.getElementById("snackbar")
      x.textContent = alertText
      x.className = "show"
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000)
    }

    $("#btnQueueNewJob").click(function() {
      response = $.get("/queue_clustering_job", function() {
        // response_text = response.responseJSON['generated_token']
        // alert(response)
      });
      showSnackbarAlert("Added job to queue!")
    });

  </script>

</body>
</html>
